html,
body {
  height: 100%;
}
body {

  color: $black;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;


  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7)
  }
}

button {

}

button,
input[type="submit"] {
  cursor: pointer;
}


.giftButton{
  button{
    background-color: #712a880a;
    color: rgba(0, 0, 0, 0.7);
    height:100%;
  }
}

.authenticate-form{
  max-width:320px;
  margin: 0 auto;
}