html,
body {
  height: 100%;
}


main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-height: 70vh;
}

button,
input {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: $black;
  font-weight: 600;


  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7)
  }
}

button {

}

button,
input[type="submit"] {
  cursor: pointer;
}


.giftButton{
  button{
    background-color: #712a880a;
    color: rgba(0, 0, 0, 0.7);
    height:100%;
  }
}

.authenticate-form{
  max-width:320px;
  margin: 0 auto;
}

::-webkit-scrollbar { display: none; }

a{
  color:black;
  text-decoration: none;
  :hover{
    text-decoration: none;
    color:black;
  }
  :visited{
    text-decoration: none;
    color:black;
  }

}

.fileUpload{
  margin-bottom: 10px;
}

.filtered{
  display: none;
}

.logoName{
  font-weight: 900;
}


.Ellipse-19 {
  width: 40px;
  height: 40px;

  background-color: rgba(106, 53, 238, 0.87);
  border-radius: 70%;
  display:flex;
  text-align: center;
  align-items: center;

  position: fixed;
  bottom:13%;
  right:19px;
  z-index:999;
  img{
    margin:0 auto;
  }
}

.Ellipse-20 {
  display:flex;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color : #00dcc8eb;

  position: fixed;
  bottom:13%;
  right:19px;
  z-index:999;
  img{
    margin:0 auto;
  }
}


#refresh{
  width:px;
  height:20px;
}

#preview{
  max-width: 100%;
  margin: 0 auto;
  display:block;
}

.albumImage{
  width:300px;
  height:300px;
  display:block;
  margin: 0 auto;
}

.date{
  font-size: 10px;
}

.imageBlock{
  margin-bottom: 50px;
}