mixin imageBlock(image = {})
    .imageBlock#modal-btn
        a(href=`${routes.postDetail(post.id)}${routes.imageDetail(image.id)}`)
            .scale
                img#imagePopup(src="https://rppproto.s3.amazonaws.com/image/b2c6359a3df7769020a2df74fe18a94d",controls=true)

