mixin videoBlock(video = {})
    .videoBlock
        a(href=`${routes.postDetail(post.id)}${routes.videoDetail(video.id)}`)
            .scale
                img.videoBlock__thumbnail(src="https://rppproto.s3.amazonaws.com/image/b2c6359a3df7769020a2df74fe18a94d",controls=true)
