extends layouts/main
include mixins/postingList
block content


    if loggedUser
        .postings#postings
                    each item in posts
                            +postingList({
                                id : item._id,
                                title: item.title,
                                description: item.description,
                                creator : item.creator,
                                creatorName : item.creatorName,
                                like : item.like,
                                user : item.creator,
                                createdAt : item.createdAt
                            }) 
        


block cont
    if loggedUser
        a(href=routes.newGift).Ellipse-19
            img(src="/static/pencil.svg")
