extends layouts/main
//- main.pug의 내용을 복사하여 쓰겠다
//- block content 의 내용만 작성하면 됨!

block content
    .form-container
        form(action=`${routes.users}${routes.editProfile}`, method="post",enctype="multipart/form-data")
            .fileUpload
                label(for="avatar").default 프로필사진
                input(type="file",id="avatar",name="avatar", accept="image/*").rectangle
            .default.nickname 닉네임
            input(type="text",placeholder="Name",name="name",value =loggedUser.name).rectangle
            .default.university 한줄소개
            input(type="text",placeholder="한줄소개",name="description",value = loggedUser.description).rectangle
            .default.mbtiType MBTI
            input(type="text",placeholder="mbti",name="mbti",value=loggedUser.mbti).rectangle
            .default.styleType 스타일(ex. 귀여움/수다쟁이...)
            input(type="text",placeholder="style").rectangle

            input(type="submit",value="Update Profile")
            .warning 19금적인 용어는 삼가주세요.

    