extends layouts/main

block content
    .form-container
        form(action=`${routes.userDetail(users.id)}${routes.album}`, method="post",enctype="multipart/form-data")
            
            #preview
            .fileUpload
                label(for="img").default 앨범사진
                input(type="file",id="getFile",name="img", accept="image/*").rectangle

            input(type='submit' value='전송')


    