extends layouts/main

block content
    .form-container
            div(style="text-align:center;") 학교 이메일을 아직 발급받지 못한 학우분들은 <br> 아래 구글폼링크로 신청해주세요!
                a(href="https://docs.google.com/forms/d/e/1FAIpQLSc3NJKwc9J5rjZiGjY_Bqm8q9ZmTaZk-Lic8_6VquB5IOqBDw/viewform?usp=sf_link" style="display:block; width: 100px; margin: 0 auto; padding: 10%;")
                    button.newJoin 가입하기



