extends layouts/main

block content
    .texts(style="line-height:2")


        | 리뉴얼 안내 (2021-02-23)
        <br>
        | 연고링은 2월 28일부터 리뉴얼된 서비스로 찾아올 예정입니다. 
        | 2월 28일부터 사전 신청이 가능하니 기다려주시면 감사하겠습니다 !


        | 업데이트안내 ( 2021-01-25)
        <br>
        | 1. 지역별로 친구를 찾을 수 있습니다! 개인설정에서 자기 지역을등록해보세요 ㅎ
        <br>
        | 2. 프로필 설정에서 자신의 프로필을 숨김처리할수있습니다. 숨기기 선택시 남자,여자 탭에서 자신의 프로필이 뜨지않습니다.
        <br>
        | 3. 이제 서울대,고려대,연세대,서강대,한양대,성균관대,중앙대,경희대,외대,시립대이신분들은 자유롭게 회원가입할 수 있습니다.
        | 회원가입시 학교 이메일로 아이디와 패스워드가 발송됩니다 !
        | 이메일 회원가입은 1월 26일날 오픈할 예정입니다!
        <br>
        <br>
        <br>
        <br>
        <br>




        | 안녕하세요 유저여러분들 !! 2차 MVP 테스트까지 함께 와주셔서 너무나도 감사합니다 ㅎ 
        | 저는 대학생활하면서 대학생들이 경험하는 모든 액티비티 (동아리,미팅,소개팅,소모임,축제,일일호프 등)
        | 들을 연고링에서 유저들이 유저들과 함께 기획하고 함께 진행해 나가는 활동지향적인 대학생들만의 SNS를 만드는것이 꿈입니다.
        | 우선은, 이 MVP 사이트는 앞으로도 지속될 예정입니다. 하지만, 이 사이트를 계속 키워나가는 것보다는
        | 이 ykring 사이트는 사이트대로 냅두고, 앱 개발을 할 생각입니다.
        | 앞으로 1월 25~26일까지, 해시태그를 이용한 관심사분류, 지역별 분류, 그룹채팅방 기능을 추가를 예정중에있습니다.
        | 우선 홍보를 도와주신 제 지인들의 에브리타임을 모두 정지당한 상황이기에 , 신규유저 확보에 어려움이 있을 것 같습니다.
        | 물론, 어떤 수로든 신규유저를 확보하는데 힘을 쓸 예정이고, 혹시 지인이나 아는분들중에
        | 연고링서비스에 가입하고 싶으신분이 있다면 언제든 개발자에게 카톡을 주세요!

        <br>
        <br>




        | 스크롤이있으니 끝까지 내려서 읽어주시면 감사하겠습니다.
        | 1. 이 프로젝트는 방학인데도 코로나때문에 새로운 사람과 접점조차 만들지 못하는 대학생들의 심심함을
        |해결해보자 라는 취지에서 시작된 프로젝트입니다.
            
        <br>
        <br>
        | 2. 이 사이트는 완성형 서비스가 아닙니다 ㅠ.. 개발자 꿈나무(접니다) 1명이 처음부터끝까지 일주일만에 만들다 보니 부족한점도 많고
        |개선해야될 점들이 많습니다. 불편하신점 문의해주시면 개선해나가겠습니다. 혼자서하다보니 반영이 조금 느릴수도있어요 ㅠ
        <br>
        <br>

        | 3.댓글삭제기능, 회원탈퇴기능을 아직 구현하지 못했습니다. 지금부터
        |차근차근 해 나갈 생각이니 조금만 기다려주시면 감사하겠습니다!
        <br>
        <br>
        | 4. 버그가 많으니 양해부탁드립니다. 매일매일 개선에 힘쓰겠습니다. 감사합니다.
        <br>
        <br>
        | 5. 현재 구조는 일대일이 아닌,  다대다 구조이기때문에 하루에 수십명한테 연락이 올 수도 있습니다.. 그렇기때문에
        | 오픈 프로필을 권장한것이었습니다!! 혹시 지금도 오픈프로필이아닌, 1대1오픈 채팅방을 사용하고 계신분들은 오픈프로필로
        | 바꿔주시면 감사하겠습니다.
        <br>
        <br>
        | 6. 모바일환경을 우선으로 개발을 했습니다. PC화면에서는 레이아웃이 이상할 수 있습니다 ㅠ!
        

        
