extends layouts/main
include mixins/videoBlock
include mixins/userList
//- main.pug의 내용을 복사하여 쓰겠다
//- block content 의 내용만 작성하면 됨!

block content
    .search__header 

        form(action=routes.search,method="post",id="ageFilter")
            select(name='sex')
                option(value='' selected) 성별
                option(value='남자') 남자
                option(value='여자') 여자
            label(for="age1" style="margin-left: 12px;") 나이 : 
                input(type="text",name="age1",placeholder="ex) 19" class="ageInput" value="20")
            label(for="age2") ~
                input(type="text",name="age2",placeholder="ex) 25" class="ageInput" value="35")
                

            button(type="submit")
                <i class="fas fa-search"></i>
    
    each item in users
        +userList({
                id: item._id,
                name: item.name,
                description: item.description,
                sex: item.sex,
                link: item.link,
                avatarUrl: item.avatarUrl,
                age: item.age,
                univ: item.univ,
                mbti: item.mbti,
                like: item.like,
                style: item.style
            })