.form-container {
    width : 100%;
    display : flex;
    flex-direction: column;
    align-items: center;
    form {
        width : 100%;
        max-width : 320px;
        margin-bottom : 5%;

        .img-wrapper {
            width: 100px;
            height: 100px;
            margin: 10px auto;
            
            img {
                width: 60px;
            }
        }
        input {
            display : block;
            width : 100%;
            padding-top : 10px;
            padding-bottom: 8px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);            
            margin-bottom:2%;
        }
        textarea{
            margin-bottom : 5%;
            width: 100%;
            height: 250px;
        }
        input[type="submit"]{
            width:100%;
            height: 40px;
            border-radius: 10px;
            background-color: #2f363ef0;
            color:white;
        }
    }
    a{
        max-width: 320px;
        width: 100%;
    }
}


.newJoin{
    background-color: rgba(106, 53, 238, 0.17);
    color: #7d4ef0;
    font-family: 'Noto Sans KR';
    border: solid 1.5px #6a35ee;
    border-radius : 4px;
    height: 40px;
    text-align: center;
}

.editProfile{
    width:90%;
    margin-left: 5%;
    display:flex;
    text-align: center;
    align-items: center;

    position: fixed;
    bottom:13%;
    z-index:999;
    
    button{
        width:100%;
        height: 40px;
        border-radius: 10px;
        background-color: #2f363ef0;
        color:white;
    }
}

