doctype html
html
    head   
        title #{pageTitle} | #{siteName}
        script(src="https://kit.fontawesome.com/92912bbf6a.js", crossorigin="anonymous")
        link(rel="stylesheet", href="/static/styles.css")
        meta(name='viewport' content='width=device-width, initial-scale=1.0,user-scalable=no, maximum-scale=1, minimum-scale=1')
        link(href='https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap' rel='stylesheet')
        <link href="https://fonts.googleapis.com/css?family=Stylish:400" rel="stylesheet">
        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-GJPVHFS3E1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-GJPVHFS3E1');
        script(src='https://unpkg.com/file-upload-with-preview@4.1.0/dist/file-upload-with-preview.min.js')
        script(data-ad-client='ca-pub-2656946349231675' async='' src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')



    body
        include ../partials/header
        //- include ../partials/headerSection
        //-.searchForm
            .form-wrapper
                form(action=`${routes.search}`,method= "get")
                    input(type="text", placeholder="Search by term..",name="term")
        block cont
        section
            .section1
                .content(id='content')
                    block content

        include ../partials/footer
        script(src="/static/main.js")